{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
<style>
	.user-information {
		margin-top: 1em;
	}

	.container-item-avatar {
			flex-basis: 33.33%;
			flex-grow: 0;
	}

	.container-item-information-player {
			width: 100%;
	}

	.avatar {
		margin:0 0.5rem;
		width: 200px;
		height: 200px;
	}

	.history-games ul {
			padding: 0;
			list-style-type: none;
	}

	.lose-background {
		background-color: #ff3f49;
	}

	.win-background {
		background-color: #9bdeff;
	}

	.game-content {
		display: flex;
		flex-direction: row;
	}

	.game {
		flex-basis: 23.33%;
	}

	.word {
		flex-basis: 43.33%;
	}
	.points {
		flex-basis: 33.33%;
	}

	.bar {
		width: 50%;
	}

	.timestamp, .length {
		font-size: 12px;
	}

</style>
{% for flashMessage in app.flashes('success') %}
	<div class="snackbar active">
		<div class="snackbar-content">
			{{ flashMessage }}
		</div>
		<div class="snackbar-actions">
			<div class="snackbar-action-close">Close</div>
		</div>
	</div>

	<script>
		const closeButton = document.querySelector('.snackbar-action-close');

		function hideSnackbar() {
			const snackbar = document.querySelector('.snackbar');
			snackbar.classList.remove('active');
		}
		closeButton.addEventListener('click', hideSnackbar);

		setTimeout(hideSnackbar, 10000);
	</script>
{% endfor %}
<div class="container-flex">
    <div class="container-item">
        <div class="user-information container-flex">
            <div class="container-item-avatar">
							<span>
                {% if avatar is defined %}
                  <img class="avatar border lined thick" src="{{ asset('/assets/users/' ~ avatar) }}" alt="User icon" />
                {% else %}
                    <img class="avatar border lined thick" src="{{ asset('/assets/users/default-icon.png') }}" alt="User icon"/>
                {% endif %}
							</span>
            </div> 
            <div class="container-item-information-player">
                <p>{{ name }}</p>
                <p>{{ email }}</p>
                <a href="/account/edit"> Modifier vos informations</a>
            </div>
        </div>
        <div class="user-stats">
        <div class="chart-container" style="position: relative; height:40vh; width:40vw">
            <canvas id="myChart"></canvas>
        </div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                    labels: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin'],
                    datasets: [{
                        label: 'Nombre de parties joués DEMO',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                    },
                    options: {
                        responsive : true,
                    scales: {
                        y: {
                        beginAtZero: true
                        }
                    }
                    }
                });
            </script>
        </div>
    </div>
    <div class="container-item">
        <h2>Historique des parties</h2>
        <div class="history-games">
            <ul class="border lined thick">
    					{# {% for partie in parties %} #}
									<li class="bottom-bar">
						      {# <li class="{{ loop.last ? '' : 'bottom-bar' }}"> #}
										{# <div class="content {{ partie.resultat == 'perdant' ? 'lose-background' : 'win-background' }}"> #}
											<div class="content win-background">
												<div class="game-content">
													<div class="game">
														<div class="timestamp">
															<span>25-12-2000</span>
															{# <span>{{ partie.date }}</span> #}
															<span>|</span>
															<span class="length">4:10</span>
															{# <span class="length">{{ partie.length }}</span> #}
														</div>
														<div class="bar">
														</div>
														<div class="result">
															Victoire
															{# <span>{{ partie.resultat }}</span> #}
														</div>
													</div>
													<div class="word">
														Le mot était : poufsouffle
														{# Le mot était : <span>{{ partie.mot }}</span> #}
													</div>
													<div class="points">
														95 pts
														{# <span>{{ item.nombre_de_points }}</span> pts #}
													</div>
												</div>
											</div>
										{# </div> #}
									</li>
									<li>
										{# <div class="content {{ partie.resultat == 'perdant' ? 'lose-background' : 'win-background' }}"> #}
											<div class="content win-background">
												<div class="game-content">
													<div class="game">
														<div class="timestamp">
															<span>25-12-2000</span>
															{# <span>{{ partie.date }}</span> #}
															<span>|</span>
															<span class="length">4:10</span> 
															{# <span class="length">{{ partie.length }}</span> #}
														</div>
														<div class="bar">
														</div>
														<div class="result">
															Victoire
															{# <span>{{ partie.resultat }}</span> #}
														</div>
												</div>
												<div class="word">
													Le mot était : poufsouffle
													{# Le mot était : <span>{{ partie.mot }}</span> #}
												</div>
												<div class="points">
													95 pts
													{# <span>{{ item.nombre_de_points }}</span> pts #}
												</div>
											</div>
										{# </div> #}
									</li>
								{# {% endfor %} #}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
