{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/game.js') }}"></script>
{% endblock %}

{% block body %}
  <style>
    .container-item.game {
      justify-content: center;
    }

    ul {
      list-style: none;
    }

    li {
      display: flex;
      align-items: center;
    }

    .players, .chat {
      flex-basis: 66.33%;
    }

    .player-name {
      margin-left: 15px;
      margin-right: 15px;
    }

    .game {
      text-align: center;
    }

    .doodle-button {
      position: relative;
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      background-color: #f5f5f5;
      color: #333;
      cursor: pointer;
      overflow: hidden;
    }

    .doodle-button:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow:
        5px 0 0 0 #333,
        5px 5px 0 0 #333,
        10px 5px 0 0 #333,
        10px 10px 0 0 #333,
        15px 10px 0 0 #333,
        15px 15px 0 0 #333,
        20px 15px 0 0 #333;
    }

    .doodle-button:hover {
      color: #fff;
      background-color: #333;
    }

    .doodle-button:hover:before {
      transform: rotate(-5deg);
    }

    .display-result {
      display: flex;
      justify-content: space-between;
    }

    .attempts {
      padding-right: 10px;
    }

    .back-home {
      display: none;
    }

    .back-home.active {
      display: block;
    }

  </style>

  <div class="container-flex">
    <div class="container-item players">
      <ul>
      {# {% for joueur in joueurs %} #}
        <li>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M399 384.2C376.9 345.8 335.4 320 288 320H224c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z"/></svg>
          </span>
          {# <img src="{{ joueur.avatar }}" alt="Avatar de {{ joueur.nom }}" width="50" height="50"> #}

          <span class="player-name">Player 1</span>
          {# <span class="player-name">{{ joueur.nom }}</span> #}
          
          <a href="#" title="X"></a>
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
        </li>
      {# {% endfor %} #}
      </ul>
    </div>
    <div class="container-item game">
      <div class="display-result">
        <p>
          Attempts :
          <span class="attempts">0</span>/7
        </p>
        <p>
          Score :
          <span class="score">0</span>
        </p>
      </div>
      <div class="pendu">
        <img src="{{ asset('assets/hang/hang.png') }}" alt="PT icon">
        {# <img src="{{ hang }}" alt="hang icon"> #}

      </div>

      <div class="word">
        {% if wordStatus is defined %}
          {% set letters = wordStatus|split('') %}
          {% for letter in letters %}
            {{ letter }}
            {# <img src="{{ asset('assets/letters/' ~ letter.letter ~ '.png') }}" alt="letter {{ letter.name }}"> #}
          {% endfor %} 
        {% endif %}

        {# <img src="{{ asset('assets/letters/Unknow.png')}}" alt="letter hidden">
        <img src="{{ asset('assets/letters/Unknow.png')}}" alt="letter hidden">

        <img src="{{ asset('assets/letters/B.png')}}" alt="letter B">
        <img src="{{ asset('assets/letters/A.png')}}" alt="letter A">
        <img src="{{ asset('assets/letters/C.png')}}" alt="letter C"> #}
      </div>

      <div class="proposition">
        <button class="btn doodle-button">{{ 'room.popup.proposal.title'|trans|raw }}</button>
      </div>

      <div class="back-to-home">
        <a href="{{ path('app_home') }}" class="back-home btn doodle-button">Back to home</a>
      </div>

      <div id="overlay active"></div>
      <div class="modal">
        <div class="modal-content">
          <input type="text" name="proposal" id="proposal" placeholder="{{ 'room.popup.proposal.title'|trans|raw }}">
          <button class="btn btn-primary" id="send">{{ 'room.popup.proposal.letter.button'|trans|raw }}</button>
        </div>
        <div class="modal-actions">
          <div id="close" class="modal-action-close">Close</div>
        </div>
      </div>

    </div>
    <div class="container-item chat">
      <h2>Chat</h2>

      {# Create a Chat controller for that #}
      <div class="chat-messages">
          <div class="message">
            <span class="username">The king : </span>
            <span class="text">you need to create a chat controller</span>
          </div>
        {# {% for message in messages %}
          <div class="message">
            <span class="date">{{ message.date }}</span>
            <span class="username">{{ message.username }}: </span>
            <span class="text">{{ message.text }}</span>
          </div>
        {% endfor %} #}
      </div>

      {# {{ form_start(form) }}
        {{ form_row(form.content, {'attr': {'class': 'form-control'}}) }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
      {{ form_end(form) }} #}
    </div>
  </div>
{% endblock %}
